/*  Reset */
* {
	font-family: Calibri;
	margin: 0;
	padding: 0;
}

@font-face{
    font-family: "American Captain";
    src: url('American Captain.ttf'),
    url('American Captain.otf'); /* IE */
}

/* Centramos mejor toda la web */

html {
	margin-left: 100px;
	max-height: 2000px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
}

/* Formateando el body */

body {
	width: 1000px;
	background-image: url("../img/texture_grain.png");
	margin: 0 auto;
	margin-top: 70px;
	text-align: center;
}

/* Formateando la barra de navegación */

div#main_bar {
	z-index: 54;
}

/* Formateando la barra de navegación de móviles */

header#mobile {
	display: none;
}

/* Formateando la barra de navegación para PC */

header#web {
	margin-top: 20px;
	width: 900px;
	z-index: 55;
	display: block;
}

/* Formateando logo */

img.logo {
	width: 16px;
	height: 9px;
	z-index: 55;
	transition: all 0.5s;
	opacity: 0.1;
}

/* Formateando barra de navegación */

nav {
	margin-top: 15px;
	width: 900px;
}

/* Formateando todos los elementos dentro de la barra de navegación */

ul.navigation > li {
	letter-spacing: 1px;
}

/* Un poco complicado, pero con esto conseguimos que todo el 'li' sea el enlace */

ul.navigation > li a span {
	display: block;
	height: 100%;
	margin-left: 30px;
	left: 0;
	position: relative;
	top: 0;
	width: 70%;
}

ul.navigation > li ul li > a span {
	display: block;
	height: 100%;
	margin-left: 0px !important;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
}

/* Formateando barra de navegación */

div#main_bar {
	position: relative;
	opacity: 0.1;
}

/* Formateando sublista de la barra de navegación */

nav ul li ul {
	margin-top: 30px;
	display: block;
	width: 128px;
	position: absolute;
	display: none;
	min-width: 128px;
	top: -1px;
}

/* Formateando enlaces dentro de la barra de navegación */

nav li a {
	text-decoration: none;
	color: white;
	outline: 0;
}

nav li:hover {
	color: black;
}

nav li:hover > a {
	color: black;
	outline: 0;
}


/* Formateando elementos de sublistas */

nav ul li ul li {
	width: 126px;
	height: 20px;
	padding: 5px;
	display: block;
	color: navy;
	margin-left: -5px;
	background: linear-gradient(to top, #2E9AFE, #00BFFF);
	transition: all 0.2s linear;
	cursor: pointer;
}

/* Formateando los elementos que necesitan 2 líneas */

li.double_height {
	height: 40px;
}

/* Formateando primer elemento de la barra */

.lvl2_first {
	border-top-right-radius: 10px;
}

/* Formateando último elemento de la barra */

.lvl2_last {
	border-bottom-right-radius: 10px;
}

/* Formateando elementos de la barra */

header#web > nav > li {
	list-style: none;
	color: white;
}

/* Al pasar el ratón de desplegará el primer submenú */

nav li:hover > ul {
	display: block;
}

/* Formateando barra de navegación */

ul.navigation {
	border-radius: 20px;
	width: 890px;
	margin: 0 auto;
	list-style-type: none;
	box-shadow: 2px 2px 3px black;
}

/* Formateando elementos del menú principal */

nav ul li {
	display: inline-block;
	width: 128px;
	padding: 5px;
	text-decoration: none;
	color: white;
	margin-left: -5px;
	cursor: pointer;
	background: linear-gradient(to top, #2E9AFE, #00BFFF);
}

header#web > nav ul li:hover {
	color: black;
	box-shadow: 0px 2px 0px orange;
	background: linear-gradient(to top, #01DF01, #00FF00);
}

/* Formateando primer y último elemento del menú principal */

li.left {
	margin-left: -23px;
	width: 163px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

li.right {
	margin-right: -23px;
	width: 163px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

/* Formateando submenú LvL 3 */

nav ul li ul li ul {
	margin-top: 30px;
	top: -56px;
	display: block;
	width: 128px;
	position: relative;
	display: none;
	min-width: 128px;
	right: -136px;
}

/* Formateando último elemento del submenú LvL 2  */

li.last_li {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* Formateando submenú LvL 3 */

li.double_height ul {
	top: -77px;
}

/* Formateando elemento especial del submenú LvL 3 */

.last_li ul li.lvl2_last {
	border-bottom-left-radius: 10px;
}

/* Formateando enlaces del submenú LvL 3 */

nav ul li ul li a {
	color: navy;
}

/* Formateando contenedor de redes sociales */

div#container_widget {
	position: fixed;
	margin-top: 20%;
	left: 0px;
	display: block;
	z-index: 55;
	transition: transition: all 4s ease;
	opacity: 0.1;
}

/* Formateando imagenes sociales */

img.social {
	width: 50px;
	margin-left: -17px;
	height: 30px;
	display: block;
	border: 1px solid yellow;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: all 0.2s ease;
}

/* Al pasar el ratón  los iconos de redes sociales de mueven */

img.social:hover {
	margin-left: -5px;
}

/* Formateando deslizador de ayuda */

div#help_widget {
	width: 110px;
	height: 23px;
	background: linear-gradient(to bottom, #01DF01, #31B404);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(-90deg);
	position: fixed;
	padding-top: 2px;
	left: 319px;
	z-index: 1;
	cursor: pointer;
	left: 50%;
	top: 45%;
	margin-left: -567px;
	opacity: 0;
	transition: all 1s;
}

/* Formateando enlaces del deslizador de ayuda */

div#help_widget a {
	text-decoration: none;
	color: navy;
	font-weight: bold;
	outline: 0;
}

/* Formateando espacio para el nombre de usuario actualmente logueado */

span#user_active {
	margin-left: 70px;
}

/* Formateando imagen de cierre de sesión */

img[alt=logout] {
	position: relative;
	top: 9px;
	cursor: pointer;
	margin-left: 10px;
}

/* Formateando barra horizontal de otros proyectos y redes sociales, 
	esto es necesario para que este centrado y sea fijo */

div#projects {
	width: 100%;
	height: 30px;
	top: -70px;
	left: -30px;
	position: fixed;
	z-index: 55;
	transition: all 1s;
}

/* Formateando contenedor de la barra, llamémosle "menu proyectos" */

div#container_projects {
	position: relative;
	width: 1100px;
	height: 25px;
	margin: 0 auto;
	right: -25px;
	padding-top: 4px;
	background: linear-gradient(to bottom, #424242, #2E2E2E);
	border: 3px solid #FF8000;
	color: white;
	font-size: 14px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: 0px 1px 15px #000000;
	opacity: 0.3;
}

/* Formateando elementos del menú proyectos  */

div#container_projects ul li {
	list-style-type: none;
	text-align: center;
	float: left;
	display: inline;
	margin-left: 30px;
	padding: 0;
}

/* Formateando enlaces del menú proyectos */

div#container_projects ul li a {
	color: white;
	text-decoration: none;
	outline: 0;
}

div#container_projects ul li a:hover {
	color: #FFBF00;
	outline: 0;
}

/* Formateando elemento central con efecto especial para decorar */

div#square {
	position: relative;
	background: linear-gradient(to top right, #1C1C1C, #424242);
	border-left: 3px solid #FF8000;
	border-bottom: 3px solid #FF8000;
	width: 40px;
	height: 40px;
	transform: rotate(-45deg);
	margin-top: -13px;
	margin-left: 40px;
	margin-right: 35px;
}

/* Formateando previews */

div#previews {
	margin-top: 30px;
}

/* Formateando imagenes de preview */

img#massaguerp {
	width: 170px;
	position: absolute;
	margin-top: 10px;
	right: 790px;
	z-index: 55;
	border: 2px solid #FF8000;
	border-radius: 15px;
	display: none;
	box-shadow: 0px 1px 15px #000000;
}

img#plumbp {
	width: 170px;
	height: 220px;
	position: absolute;
	margin-top: 10px;
	right: 635px;
	z-index: 55;
	border: 2px solid #FF8000;
	border-radius: 15px;
	display: none;
	box-shadow: 0px 1px 15px #000000;
}

/* Formateando botón de "Me Gusta" */

img[alt=fblike] {
	border-radius: 5px;
	display: inline-block;
}

/* Formateando botón de "Compartir" */

img[alt=fbshare] {
	margin-left: 20px;
	border-radius: 5px;
}

li#menu {
	border: 1px solid white;
	color: white;
	border-radius: 5px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	height: 20px;
	margin-top: 1.5px;
	left: 10px;
	width: 80px;
	position: relative;
	top: -2px;
	cursor: pointer;
	transition: all 0.3s linear;
	background: url("../img/menu_icon_white.png") no-repeat;
	background-position: 3px;
	background-color: #2E9AFE;
}

li#menu:hover {
	border: 1px solid #2E9AFE;
	color: #2E9AFE;
	background: url("../img/menu_icon_blue.png") no-repeat;
	background-position: 3px;
	transition: background 0.3s linear;
	background-color: white;
}

li#menu span{
	vertical-align: middle;
	position: relative;
	padding-left: 10px;
	top: -1px;
}

div#hashtag {
	position: fixed;
	display: none;
	top: 40px;
	right: 100px;
	width: 300px;
	height: 599px;
	z-index: 100;
	border: 2px solid #2E9AFE;
	border-radius: 20px;
	box-shadow: 0px 1px 15px #000000;
}

img[alt=tweet] {
	border-radius: 5px;
}
img[alt=googleplus] {
	border-radius: 5px;
}

img[alt=top-logo] {
	position: absolute;
	display: block;
	z-index: 100;
	top: 4px;
	margin-left: 17px;
}

img[alt=dash-previews]{
	position: relative;
	display: inline-block;
	width: 13px;
	top: -2.5px;
	left: -13px;
	border-radius: 5px;
}

img[alt=dash]{
	position: relative;
	display: inline-block;
	width: 13px;
	top: -2.5px;
	left: -13px;
	border-radius: 5px;
}

img[alt=dash-share]{
	position: relative;
	display: inline-block;
	width: 13px;
	height: 3px;
	top: -9px;
	left: -15px;
	border-radius: 5px;
}

img[alt=dash-twits]{
	position: relative;
	display: inline-block;
	width: 13px;
	height: 3px;
	top: -2.5px;
	left: -40px;
	border-radius: 5px;
}

img[alt=home-icon] {
	top: 0px;
	left: 10px;
	position: absolute;
}

img[alt=gallery-icon] {
	top: 1px;
	left: -10px;
	position: absolute;
}

img[alt=curses-icon] {
	top: 0.5px;
	left: -5px;
	position: absolute;
}

img[alt=message-icon] {
	top: -1px;
	left: -18px;
	position: absolute;
}

img[alt=about-icon] {
	top: 1px;
	width: 18px;
	left: -19px;
	position: absolute;
}

img[alt=youtube-icon] {
	top: 0px;
	left: -5px;
	position: absolute;
}

img[alt=config-icon] {
	top: 0px;
	left: 0px;
	position: absolute;
}

div#banner-cookies {
	height: 500px;
	width: 700px;
	margin: 0 auto;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -370px;
	background: linear-gradient(to bottom, #58D3F7, #0184D6);
	z-index: 999999;
	border: 1px solid #0174DF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 1px 15px #000000, 0px 0px 10px #0174DF inset;
	padding: 0px;
	display: none;
}

div.bottom-shadow {
	box-shadow: 0px 5px 15px #000000;
	width: 107%;
	height: 30px;
	position: relative;
	top: -52px;
	left: -22px;
}

div.cookies-text {
	margin-top: -20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 10pt;
	display: none;
}

div.cookies-text ul li {
	font-size: 10pt !important;
}

div#download-browser {
	position: absolute;
	bottom: 100px;
	left: -0.5px;
}

#download-chrome, #download-firefox, #download-explorer {
	background-image: url("../img/texture-paper.jpg");
	height: 100px;
	width: 233px;
	color: orangered;
	font-size: 17pt;
	border: 1px solid #0174DF;
	text-align: center;
	display: inline-block;
	line-height: 100px;
	letter-spacing: 2px;
}

#download-chrome {
	border-bottom-left-radius: 9px;
	font-family: "American Captain";
	background: url("../img/texture-paper.jpg");
	position: absolute;
}

#download-chrome:hover {
    background: #FF8000;
	color: #F2F2F2;
	cursor: pointer;
}

#download-chrome span {
	display: inline-block;
	vertical-align: middle;
}

#download-chrome img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: -10px;
}

#download-firefox span {
	display: inline-block;
	vertical-align: middle;
}

#download-firefox img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: -10px;
}

#download-firefox {
	font-family: "American Captain";
	position: absolute;
	left: 233px;
}

#download-firefox:hover {
	background: #FF8000;
	color: #F2F2F2;
	cursor: pointer;
}

#display_cookies {
	color: blue;
}

#display_cookies:hover {
	text-decoration: underline;
	cursor: pointer;
}

#download-explorer {
	font-family: "American Captain";
	background: url("../img/texture-paper.jpg");
	position: absolute;
	left: 467px;
	border-bottom-right-radius: 9px;
}

#download-explorer:hover {
    background: #FF8000;
	color: #F2F2F2;
	cursor: pointer;
}

#download-explorer span {
	display: inline-block;
	vertical-align: middle;
}

#download-explorer img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: -10px;
}