body {
	font-family: Calibri;
	background: #f1f1f1;
	width: 700px;
	margin: 0 auto;
	margin-top: 30px;
	user-select: none;
	-webkit-user-select: none;
}

div#container {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 30px;
}

section#header {
	width: 100%;
	height: 100px;
}

section#logo {
	float: left;
}

.float_left {
	float: left;
	margin-left: 70px;
}

.float_right {
	float: right;
	margin-right: 52px;
}

.float_none {
	clear: both;
	margin-left: 60px;
	margin-bottom: 20px;
	margin-right: 60px;
}

section#description {
	float: right;
	text-align: right;
	margin-top: 20px;
}

img#logo {
	width: 250px;
}

section#signup-form {
	clear: both;
	padding: 20px;
	position: relative;
}

fieldset {
	border: 0;
}

legend {
	position: relative;
	margin-left: 65px;
	margin-bottom: -5px;
	font-weight: bold;
	font-size: 14pt;
}

hr.x {
	width: 80%;
	height: 2px;
	background-color: #00BFFF;
	border: 0;
	border-radius: 50px;
}

hr.y1 {
	width: 150px;
	height: 2px;
	background-color: green;
	border: 0;
	border-radius: 50px;
	position: absolute;
	transform: rotate(-90deg);
	margin-left: 243px;
	margin-top: 120px;
}

hr.y2 {
	width: 150px;
	height: 2px;
	background-color: green;
	border: 0;
	border-radius: 50px;
	position: absolute;
	transform: rotate(-90deg);
	margin-left: 245px;
	margin-top: 110px;
}

label {
	font-size: 13.5pt;
	position: relative;
}

input, select {
	display: block;
	line-height: 1;
	border-radius: 3px;
	border: 1px solid #ddd;
	transition: .05s border-color ease-in-out;
	font-size: 13pt;
	padding: 5px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background: #fbfbfb;
	margin-top: 5px;
	margin-bottom: -10px;
}

input:focus {
	box-shadow: 0px 0px 7px #00BFFF;
	background: #effff2;
}

label.required:after {
	content: " *";
	color: red;
	font-size: 12pt;
}

span#ad {
	font-size: 11pt;
	position: absolute;
	margin-left: 460px;
	margin-top: 5px;
}

span#ad:before {
	content: "* ";
	color: red;
	font-size: 12pt;
}

span.slash {
	font-size: 15pt;
}

input#born_day, input#born_month, input#born_year {
	width: 50px;
	display: inline-block !important;
	margin-bottom: 10px;
	font-size: 12pt;
	text-align: center;
	padding-top: 10px;
}

.checkbox, input[type=radio], input[type=checkbox] {
	display: inline-block;
	margin-left: 10px;
	box-shadow: none !important;
}

input[type=radio] {
	width: 15px;
	height: 15px;
}

input[type=datetime-local] {
	width: 220px;
	height: 20px;
	font-size: 10pt;
	margin-bottom: 15px;
}

div#secondary_datetime {
	position: absolute;
	top: 120px;
	left: 610px;
	background-color: white;
	padding: 10px;
	height: 45px;
	width: 220px;
	border-radius: 20px;
	border: 1px solid #00ABF4;
	box-shadow: 0px 0px 10px #00ABF4;
	display: none;
}

span#display_secondary {
	font-size: 10pt;
	color: red;
}

span#display_secondary:hover {
	text-decoration: underline;
	cursor: pointer;
}


.text_center {
	text-align: center;
}

.checkbox {
	position: relative;
	top: -2px !important;
	left: -5px;
}

table {
	width: 80%;
	margin-left: 80px;
}

td {
	width: 33.3333333333%;
}

textarea {
	width: 500px;
	height: 200px;
	text-align: justify;
	font-family: Arial;
	padding: 20px;
	margin-left: 45px;
	margin-top: 10px;
	border-radius: 5px;
	background: #fbfbfb;
	border: 1px solid grey;
}

input[type=checkbox] {
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 0px;
	border: 1px solid black;
}

input[type=checkbox] + label {
	font-size: 12pt;
	position: relative;
	top: -3px;
	margin-left: 5px;
}

div#conditions {
	margin-left: 50px;
	margin-top: 10px;
}

input[type=submit] {
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
	background: #2ea2cc;
	border-color: #0074a2;
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	color: #fff;
	text-decoration: none;
	font-size: 10.5pt;
	float: left;
	cursor: pointer;
}

input[type=reset] {
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
	background: #2ea2cc;
	border-color: #0074a2;
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
	color: #fff;
	text-decoration: none;
	font-size: 10.5pt;
	float: right;
	cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
	background: #2481a3;
}